</br>

<div class="ui container">
  <form class="ui form">
    <div class="fields">

      <div class="field">
        <label>Player Name:</label>
        <div class="ui search selection dropdown">
          <input type="hidden" name="player_id">
          <i class="dropdown icon"></i>
          <div class="default text">Select a player</div>

          <div class="menu">
            <% Player.order(:name).each do |player| %>
              <div class="item" data-value="<%= player.id %>"><%= player.name %></div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="field">
        <label>Game:</label>
        <div class="ui search selection dropdown">
          <input type="hidden" name="game_id">
          <i class="dropdown icon"></i>
          <div class="default text">Select a game</div>

          <div class="menu">
            <% Game.order(:date_of_game).each do |game| %>
              <div class="item" data-value="<%= game.id %>"><%= game.away_name %> @ <%= game.home_name %></div>
            <% end %>
          </div>
        </div>
      </div>

    </div>

    <div class="fields">
      <div class="field">
        <label>Plate Appearances:</label>
        <input type="number" name="pas">
      </div>

      <div class="field">
        <label>At-Bats:</label>
        <input type="number" name="at_bats">
      </div>

      <div class="field">
        <label>Hits:</label>
        <input type="number" name="hits">
      </div>

      <div class="field">
        <label>Walks:</label>
        <input type="number" name="walks">
      </div>

      <div class="field">
        <label>RBIs:</label>
        <input type="number" name="rbis">
      </div>

      <div class="field">
        <label>Runs:</label>
        <input type="number" name="runs">
      </div>

      <div class="field">
        <label>Strikeouts:</label>
        <input type="number" name="strikeouts">
      </div>
    </div>

    <div class="fields">
      <div class="field">
        <label>Singles:</label>
        <input type="number" name="singles">
      </div>

      <div class="field">
        <label>Doubles:</label>
        <input type="number" name="doubles">
      </div>

      <div class="field">
        <label>Triples:</label>
        <input type="number" name="triples">
      </div>

      <div class="field">
        <label>Homeruns:</label>
        <input type="number" name="homeruns">
      </div>
    </div>

    <div class="fields">
      <div class="field">
        <label>Stolen Bases:</label>
        <input type="number" name="stolen_bases">
      </div>

      <div class="field">
        <label>Caught Stealings:</label>
        <input type="number" name="caught_stealings">
      </div>
    </div>


    <button class="ui primary button" type="submit">Submit</button>
  </form>
</div>

