<!DOCTYPE html>
<html>
<head>
  <title>SecondStringBaseball</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui massive inverted top fixed menu">
  <div class="item">
    <%= image_tag "SecondString.PNG" %>
  </div>
  <a class="item" href="/welcome/index">Welcome</a>

  <div class="ui simple dropdown item">
    Roster
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="/roster/index">Summer 2018</a>
    </div>
  </div>

  <div class="ui simple dropdown item">
    Statistics
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="/statistics/player">Individual Career</a>
      <a class="item" href="/statistics/game">Team Record</a>
<!--      <a class="item">Season Leaders</a>		-->
      <a class="item" href="/statistics/all_time_leaders">All-Time Leaders</a> 
    </div>
  </div>

  <div class="ui simple dropdown item">
    Gallery
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item" href="/gallery/instagram">Instagram</a>
<!--      <a class="item">Photos</a>		-->
    </div>
  </div>
</div>

</br></br></br>

<%= yield %>

</br></br></br>

<a href="http://www.instagram.com/2ndstringbsb">
  <div class="ui massive inverted bottom fixed menu">
    <button class="ui instagram button"><i class="instagram icon"></i>Follow us on Instagram!</button>
    <p class="right aligned item">Made by Dylan Tokita</p>
  </div>
</a>

</body>
</html>
